body{
    margin-left: 20%;
    background-color:cadetblue;
}
header{
    width: 850px;
    font-size: 5em;
    background-color: rgb(183, 178, 189);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:rgb(32, 29, 26);
}

#pelaa{
    
    color:rgb(19, 54, 19);
    background-color: chartreuse;
    border-color: darkgreen;
    border-radius: 5px;
    width: 200px;
    height: 230px;
    font-size:4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#tieto{
    margin-top: 20px;
    background-color: rgb(205, 221, 188);
    width: 210px;
    height: 252px;     
    color: blue;
    font-size: 2em;
    border-radius: 5px;
    border-style:outset;
}
#raha{
   padding-top: 15px;
   margin: 5px;
   padding-left: 20px;
   
}
#panos{
    margin: 5px;
     padding-left: 20px;
    margin-bottom: 20px;
}


#peli{
   
    
    display: flex;
}
#box-1{
padding: 5px;    
text-align: center;
color: red;}
#box-2{
    padding: 5px;
    text-align: center;
    color: red;}
#box-3{
    padding: 5px;
    text-align: center;
    color: red;}
#box-4{
    padding: 5px;
    padding-right: 10px;
   text-align: center;
   color: red;
}
#luk1{
    width: 150px;
    height: 70px;
    background-color: darkgoldenrod;
}
#luk2{
    width: 150px;
    height: 70px;
    background-color: darkgoldenrod;
}#luk3{
    width: 150px;
    height: 70px;
    background-color: darkgoldenrod;
}#luk4{
    width: 150px;
    height: 70px;
    background-color: darkgoldenrod;
}
#miinus{
    margin-left: 23px;    
    
    background-color:orangered;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#plus{
    
    background-color:orangered;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.flex-container{
    display: flex;
    height: 260px;
}
table{
    background-color: white;
    font-size: 1.5em;
    margin-top: 20px;
    border-radius: 5px;
    border-color: blue;
    border-style: outset;
    margin-left: 5px;
    padding: 5px;
}
#voitto{
    margin-top: 30px;
    padding-top: 5px;
    color: darkorange;
    background-color: darkred;
    width: 845px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border-style: outset;
}

    

